<div class="{{sizeClass}} panel-default">
	<div class="panel-heading">
		<div class="header-left">
			<div class="btn-group btn-group-sm" ng-if="nextPrevBut">
				<button class="btn btn-default glyphicon glyphicon-arrow-left" ng-click="object.leftSeries(object)"></button>
				<button class="btn btn-default glyphicon glyphicon-arrow-right" ng-click="object.rightSeries(object)"></button>
			</div>
			<div class="btn-group btn-group-sm" ng-if="addBut">
				<button class="btn btn-default glyphicon glyphicon-plus" ng-click="object.addSeries(object)"></button>
				<button class="btn btn-default glyphicon glyphicon-minus" ng-click="object.removeSeries(object)" ng-disabled="!object.restOptions.frequencia"></button>
			</div>
			<span class="break" ng-if="addBut || nextPrevBut"></span>
			<div class="head-title">{{name}}</div>
		</div>
		<div class="btn-group btn-group-sm header-right" ng-if="optionBut">
			<button class="btn btn-default glyphicon glyphicon-list-alt" ng-click="toggleTable()"></button>
			<button class="btn btn-default glyphicon glyphicon-download-alt" ng-csv="formatCsv(dat, lab)" csv-header="formatHeader(ser)" filename="{{formatName(name)}}"></button>
			<button class="btn btn-default glyphicon glyphicon-resize-full"></button>
		</div>
	</div>
	<div class="panel-body" ng-if="loading">
		<spinner></spinner>
	</div>
	<div class="panel-body" ng-if='!table && !loading'>
		<canvas class="chart-bar chart-stats" chart-data='dat' chart-labels='lab' chart-series='ser' chart-legend='{{legend}}' chart-options="options" chart-colours="colors">
		</canvas>
	</div>
	<div class="panel-body table-default" ng-if='table && !loading'>
		<table-chart series='ser' labels='lab' data='dat' label="label"></table-chart>
	</div>
</div>