<div id='page'>

	<div class="alert alert-info alert-block fade in message">
		<button class="close" data-dismiss="alert">×</button>
		<h4>Importante:</h4>
		<br>
		<p>
		As informações do DETER/INPE devem ser usadas com cuidado, pois este sistema não foi concebido para medição de áreas desmatadas. Informação:
		<a href="http://www.obt.inpe.br/deter/metodologia_v2.pdf">Metodologia DETER</a>
		</p>
	</div>

	<form id='form-chart' ng-submit='filter(estado, mes, ano, tipo, estagio)' class='text-center'>
		    
 		<div class="center filter-select">
 			<div class="form-group div-select">
	 			<label> Mês</label>
				<select class='btn btn-default form-control' ng-options='mes.name for mes in meses' ng-model='mes'></select> 
			</div>
 			<div class="form-group div-select">
	 			<label> Ano</label>
				<select class='btn btn-default form-control' ng-options='ano for ano in anos' ng-model='ano'></select> 
			</div>
 			<div class="form-group div-select">
	 			<label> Tipo</label>
				<select class='btn btn-default form-control' ng-options='tipo.name for tipo in tipos' ng-model='tipo' ng-change='evaluateStage(estagio.value, tipo.value, true)'></select> 
			</div>
 			<div class="form-group div-select">
	 			<label> Estagio</label>
				<select class='btn btn-default form-control' ng-model="estagio" ng-options="estagio.name for estagio in estagios | filter: {type: tipo.value}" ng-change='evaluateStage(estagio.value, tipo.value)'>
					<!-- <option ng-repeat="estagio in estagios | filter: {type: tipo.value}" ng-selected="{{$first}}">{{estagio.name}}</option> -->
				</select> 
			</div>
 			<div class="form-group">
				<button class='btn btn-primary form-control button-select' type='submit'>Pesquisar</button>	
			</div>
		</div>

		<br />

		<div class='center'>
			<figure class='quick quick-btn' id='selectMap' >
				<a ng-repeat='ufs in estados' class='item {{ufs.selected}}' ng-click='changeClass(ufs)'  >
					<img id='{{ufs.name}}' href='#' ng-src='{{ufs.image}}' value='{{ufs.name}}'>
					<span class=''>{{ufs.subtitle}}</span>
				</a>
				
 			</figure>
		</div>

	</form>
	
	<hr />

	<div class="col-lg-12 chart-div">
		<line-chart 
			id="chart1"
			name='chart1.title' 
			data="chart1.data"
			option-but='true'
			legend='false'
			loading='chart1.loading'>
		</line-chart>

		<line-chart 
			id="chart2"
			name='chart2.title' 
			data="chart2.data" 
			add-but="true" 
			option-but='true'
			legend='true'
			vertical-lines='"false"'
			loading='chart2.loading'
			object='chart2'>
		</line-chart>

		<!-- TODO: MAKE STACKED BAR TO WORK -->
		<stacked-bar-chart
			id="chart3"
			name='chart3.title' 
			data="chart3.data" 
			add-but="true"
			option-but='true'
			legend='true'
			loading='chart3.loading'
			object='chart3'>
		</stacked-bar-chart>
<!-- 
		<div ng-controller="StackedBarCtrl">
			<div class="chart-container">
				<canvas class="chart chart-base" labels="labels" data="data" chart-type="type" width="523" height="261" style="width: 523px; height: 261px;"></canvas>
			</div>
		</div> -->
<!--  
		<bar-chart
			name='chart3.title' 
			data="chart3.data" 
			add-but="true"
			option-but='true'
			loading='chart3.loading'
			object='chart3'>
		</bar-chart>  -->

		<bar-chart 
			name='chart4.title' 
			data="chart4.data" 
			add-but="true"
			option-but='true'
			loading='chart4.loading'
			object='chart4'>
		</bar-chart>

		<line-chart 
			name='chart5.title' 
			data="chart5.data" 
			option-but='true'
			legend='true'
			loading='chart5.loading'>
		</line-chart>

		<bar-chart 
			name='chart6.title' 
			data="chart6.data" 
			next-prev-but="true"
			option-but='true'
			loading='chart6.loading'
			legend="true"
			object="chart6">
		</bar-chart>

		<line-chart 
			name='chart7.title' 
			data="chart7.data" 
			add-but="true" 
			option-but='true'
			legend="true"
			loading='chart7.loading'
			object='chart7'>
		</line-chart>

		<pie-chart 
			name='chart8.title' 
			data="chart8.data" 
			next-prev-but="true" 
			option-but='true'
			size='"small"'
			legend="true"
			loading='chart8.loading'
			object='chart8'
			ng-show="showPie1">
		</pie-chart>

		<pie-chart 
			name='chart9.title' 
			data="chart9.data" 
			option-but='true'
			size='"small"'
			legend="true"
			loading='chart9.loading'
			ng-show="showPie2">
		</pie-chart>
	</div>

<!-- 
	<div class='chart' id="chart_1"> 
		<div class='box-header'><h2>Alerta DETER: Índice Mensal (em Km²) </h2></div>
		<mensal></mensal> 
	</div>

	<div class='chart' > 
		<div class='box-header'><h2>Alerta DETER: UF's (em Km²)</h2></div>
		<deterufs></deterufs>
	</div>
	

	<div class='chart' > 
		<div class='box-header'><h2>Taxa PRODES: Acumulado (em Km²)</h2></div>
		<prodes></prodes>
	</div>

	<div class='chart' > 
		<div class='box-header'><h2>Taxa Prodes: UF's (em Km²)</h2></div>
		<prodesuf></prodesuf>
	</div>	

	<div class='chart' > 
		<div class='box-header'><h2>Alerta DETER: Taxa(%) de Nuvens</h2></div>
		<cloud></cloud> 
	</div>	 -->

</div>

